/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

a{
  font-weight: 600;
  transition: all 0.3s ease;
}
a:visited{
  color: #ffffff;
}
a:hover{
  color: #000000;
  transition: all 0.3s ease;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #89f1ee;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4ea19d;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
  background: rgba(21, 49, 228, 0.54);
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
  height:100%;
  float: left;
}

.logo .text {
  margin-left: 20px;
  float: left;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.54);
}
nav.sticky .navbar .logo a{
  color: #fff;
}

nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 18px;
  font-weight: 800;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: #377a77;
  transition: all 0.3s ease;

}
nav.sticky .menu a{
  color: #FFF;
}
nav.sticky .menu a:hover{
  transition: all 0.3s ease;
  color: #0E2431;
}
.navbar .media-icons a{
  color: #7a7a7a;
  font-size: 21px;
  margin: 0 6px;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: grey;
  transition: all 0.3s ease;
}
nav.sticky .media-icons a{
  color: #FFF;
  transition: all 0.3s ease;
}
nav.sticky .media-icons a:hover{
  color: grey;
  transition: all 0.3s ease;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 20px;
  top: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #377a77;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}



/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 95%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .about-details .centre{
    width: 90%;
    margin: 0px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 380px;
    width: 350px;
  }
}p,h4,h3 {
  text-align: center;
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
    transition: all 0.3s ease;
  }
  nav.sticky .menu a:hover{
    color: #377a77;
    transition: all 0.3s ease;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }

  .contact .text{
    width: 100%;
}
}




.about {
  background: url("https://maazwaheed.netlify.app/Assets/Images/background.png");
  height: 100%;
}
section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span {
  color: #0e2431;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
  text-align: center;
}
section .title span::before,
section .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: #033b77;
  left: 0;
  bottom: 0;
}
section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .left img {
  height: 100px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
section .button {
  margin: 0px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
section .button button {
  outline: none;
  padding: 12px 20px;
  border-radius: 20px;
  margin: 5px 5px;
  font-size: 18px;
  font-weight: 600;
  background: #74bf54;
  color: #050505;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
section .button button:hover {
  transition: all 0.4s ease;
  border-color: #74bf54;
  background-color: #1e1d1d;
  color: #74bf54;
}

html,body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Skills Section */
.skills {
   background: #f9f9f9;

}



.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  cursor:url('/Assets/cursor/cursor1.png'), pointer;
}

.skill-box {
  background: #2b2a2a;
  border-radius: 20px;
  padding:60px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.skill-box:hover {
  transform: translateY(-30px);
}

.skill-box .icon {
  font-size: 50px;
  color: #818181;
  margin-bottom: 10px;
}

.skill-box .skill-name {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  cursor:url('/Assets/cursor/cursor.png'), pointer;
}












body{
  cursor: url('/Assets/cursor/c1.png'), auto;
}


a {

  cursor: url('/Assets/cursor/c.png'), pointer;

}
p {

  cursor: url('/Assets/cursor/c1.png'), auto;

}

/* Footer CSS */
footer {
  background-color: #6aa1ff; /* Use hex code for consistency */
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer.texts span {
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}

footer.texts span a {
  text-decoration: underline;
  font-weight: 500;
  color: #ffffff;
}

footer.texts span a:hover {
  text-decoration: none;
  color: #000000;
}

